@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
$baseColor: #540b66;
$secondaryColor: #c48e3c;

#container-login {
  background-image: url("../../../img/bg/login-bg3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: "Barlow", sans-serif;
}

#bg-logo {
  content: url("../../../img/logos/Ding-Dong-Logo-Light.svg");
  width: 90%;
}

#title-logo {
  color: white;
}

#forgot-pass-link {
  text-decoration: none;
  color: white;
  text-align: center;
}

#forgot-pass-link:hover {
  color: $secondaryColor;
}

#forgot-pass-hr {
  width: 100px;
  border: 1px solid white;
}

#play-store-logo {
  width: 200px;
  height: 100px;
}

#rememberMe {
  cursor: pointer;
}

#col-left {
  height: 100vh;
}

#right-col {
  height: 100vh;
}

// #submit-btn:hover {
//   color: #540b66;
// }

.invalidEmail-show {
  color: red;
  text-align: center;
}

.invalidEmail-hidden {
  visibility: hidden;
}

//Pc screen resize to avoid background to superimpose
// @media screen and (max-width: 768px) {
//   #bg-logo {
//     content: none;
//     width: 50%;
//   }
//   #col-left {
//     order: 2;
//     display: none;
//     visibility: hidden;

//     background-color: $baseColor;
//   }
//   #right-col {
//     order: 1;
//     background-color: $baseColor;
//   }
//   #title-logo {
//     color: white;
//   }
// }

// @media screen and (max-width: 376px) {
//   #bg-logo {
//     content: url("../../../src/img/logos/Ding-Dong-Logo-Dark.svg");
//     height: 280px;
//   }
//   #col-left {
//     order: 2;
//   }
//   #right-col {
//     order: 1;
//     padding-top: 20px;
//   }
//   #title-logo {
//     color: white;
//   }
//   #header-login {
//     color: white;
//   }
//   #container-login {
//     background-color: $baseColor;
//     color: white;
//   }
//   #title-logo {
//     color: white;
//   }
// }

// @media screen and (min-width: 376px) and (max-width: 428px) {
//   #bg-logo {
//     content: url("../../../src/img/logos/Ding-Dong-Logo-Dark.svg");
//     height: 400px;
//   }
//   #col-left {
//     order: 2;
//   }
//   #right-col {
//     order: 1;
//     padding-top: 20px;
//   }
//   #submit-btn {
//     margin-left: 130px;
//     padding: 5px 30px 5px 30px;
//   }
//   #title-logo {
//     color: white;
//   }
//   #header-login {
//     color: white;
//   }
//   #container-login {
//     background-color: $baseColor;
//     color: white;
//   }
//   #title-logo {
//     color: white;
//   }
// }

// @media screen and (min-width: 376px) and (max-width: 390px) {
//   #bg-logo {
//     content: url("../../../src/img/logos/Ding-Dong-Logo-Dark.svg");
//     height: 400px;
//   }
//   #col-left {
//     order: 2;
//   }
//   #right-col {
//     order: 1;
//     padding-top: 20px;
//   }
//   #submit-btn {
//     margin-left: 110px;
//     padding: 5px 30px 5px 30px;
//   }
//   #title-logo {
//     color: white;
//   }
//   #header-login {
//     color: white;
//   }
//   #container-login {
//     background-color: $baseColor;
//     color: white;
//   }
//   #title-logo {
//     color: white;
//   }
// }

// @media screen and (min-width: 391px) and (max-width: 414px) {
//   #bg-logo {
//     content: url("../../../src/img/logos/Ding-Dong-Logo-Dark.svg");
//     height: 400px;
//   }
//   #col-left {
//     order: 2;
//   }
//   #right-col {
//     order: 1;
//     padding-top: 20px;
//   }
//   #submit-btn {
//     margin-left: 120px;
//     padding: 5px 30px 5px 30px;
//   }
//   #title-logo {
//     color: white;
//   }
//   #header-login {
//     color: white;
//   }
//   #container-login {
//     background-color: $baseColor;
//     color: white;
//   }
//   #title-logo {
//     color: white;
//   }
// }

// @media screen and (min-width: 391px) and (max-width: 414px) {
//   #bg-logo {
//     content: url("../../../src/img/logos/Ding-Dong-Logo-Dark.svg");
//     height: 400px;
//   }
//   #col-left {
//     order: 2;
//   }
//   #right-col {
//     order: 1;
//     padding-top: 20px;
//   }
//   #submit-btn {
//     margin-left: 120px;
//     padding: 5px 30px 5px 30px;
//   }
//   #title-logo {
//     color: white;
//   }
//   #header-login {
//     color: white;
//   }
//   #container-login {
//     background-color: $baseColor;
//     color: white;
//   }
//   #title-logo {
//     color: white;
//   }
// }
