@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Barlow", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  #App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}

footer {
  align-self: flex-end;
}
